.photo img {
    height: 200px;
    width: 80%;
    min-width: 360px;
    border-radius: 0.5em;
}

.container-card { 
    border-radius: 0.5em;
    width: 400px;
    min-height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 2em;
    padding: 1.5em;
    transition: 0.5s ease-in-out;
    text-align: center;
    color:rgb(224, 224, 224);
}

.container-card:hover {
    background-color: rgba(155, 155, 155, 0.247);
}

.description{
    color: rgb(161, 161, 161);
    margin-top: 1em;
}

.title {
    margin-top: 1em;
}