<div class="container-card">
    <div class="photo">
        <img src="https://t3.ftcdn.net/jpg/01/09/40/34/360_F_109403481_g8LbMgibBxrnl7CBc201wcJsNihOWTF2.jpg" alt="">
    </div>
    <div class="title">
        <h1>10 sites brasileiros que utilizam Angular</h1>
    </div>
    <div class="description">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt quos aspernatur neque alias voluptatum, optio quasi a atque modi nesciunt delectus magnam praesentium. Minus, autem at deleniti corrupti necessitatibus non.</p>
    </div>
</div>