<div class="contact-container">
    <app-contact-card></app-contact-card>
    <div class="content">
        <h1>Ana Carolini Brandão</h1>
        <p>Técnica em Informática pelo IFSP, sou apaixonada por inovação e tecnologia. Desenvolvo projetos utilizando React, JavaScript, CSS, Typescript, Node.js, PHP e MySQL!
            Participei de projetos de pesquisa envolvendo Arduino e Objetos de Aprendizagem para aprimorar o pensamento computacional. Também já dei aulas de informática pra design e desenvolvimento web.</p>
        <div class="socials">
            <ng-icon name="heroUsers"></ng-icon>
        </div>
        
    </div>
</div>