<div class="contact-container">
    <app-contact-card></app-contact-card>
    <div class="content">
        <h1>Ana Carolini Brandão</h1>
        <p>Técnica em Informática pelo IFSP, sou apaixonada por inovação e tecnologia. Desenvolvo projetos utilizando React, JavaScript, CSS, Typescript, Node.js, PHP e MySQL!
            Participei de projetos de pesquisa envolvendo Arduino e Objetos de Aprendizagem para aprimorar o pensamento computacional. Também já dei aulas de informática pra design e desenvolvimento web.</p>
            <hr/>
            <div class="socials">
             
            <img src="https://imgs.search.brave.com/48msZw8HC-WeLil8MQX0uL2KSdW3Q9T58pUQN7drkDU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMtMDAuaWNvbmR1/Y2suY29tL2Fzc2V0/cy4wMC90eXBlc2Ny/aXB0LWljb24taWNv/bi01MTJ4NTEyLXlo/MHl1M3RhLnBuZw" alt="">  
            <img src="https://imgs.search.brave.com/rqA1OcIzhXD4nlS9rcYPxJzyjMRRoCfPFOFLiwgwNi4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMtMDAuaWNvbmR1/Y2suY29tL2Fzc2V0/cy4wMC9ub2RlLWpz/LWljb24tOTA5eDEw/MjQtaWc0Z205azcu/cG5n" alt="">
            <img src="https://imgs.search.brave.com/fBhZ-Wwv_n_LXRCURPbeP0NN3FzyboWkoexF2M2e5F8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMtMDAuaWNvbmR1/Y2suY29tL2Fzc2V0/cy4wMC9yZWFjdC1p/Y29uLTI1NngyMjgt/OTdsdGdibDEucG5n" alt="">
            <img src="https://cdn.iconscout.com/icon/free/png-512/free-angular-3-226070.png" alt="">
        </div> 
    </div>
</div>