.contact-container {
    color: antiquewhite;
    display: flex;
    padding: 2em;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    width: 50%;
    font-size: 20px;
    margin-left: 3em;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.content > p {
    margin-top: 1.5em;
}

hr {
    margin: 1.5em 0 ;
}

.socials{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 1em;
}
.socials img {
    width: 70px;
    height: 70px;
}