.container-content {
    color: #fff;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.content-cover > img{
    width: 500px;
    height: 300px;
    border: 5px solid rgba(142, 142, 241, 0.616);
    border-radius: 5px;
}

.content-description {
    color: rgb(161, 161, 161);
    margin-top: 30px;
    padding: 2em;
    font-size: 20px;
}

.content-title {
    margin-top: 2em;
}

.return {
    background-color: aquamarine;
    font-weight: bold;
    padding: 0.5em 1.5em;
    border-radius: 1em;
    margin: 2em 0;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: .4s ease-in-out;
}

.return:hover {
    border-color: aquamarine;
    color: aquamarine;
    background-color: rgb(31, 31, 31);;
}

h3 {
    color: aquamarine;
    margin: 1em 0;
}

