
 <div class="container-content">
    <div class="content-cover">
        <img src="https://imgs.search.brave.com/SGNvtemgAUTOBkTSCoN9Al9gj4qUa-SUrz80E78_8YM/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9hcnF1/aXZvLmRldm1lZGlh/LmNvbS5ici9ub3Rp/Y2lhcy9kb2N1bWVu/dGFjYW8vZG9jdW1l/bnRhY2FvX2FuZ3Vs/YXItY2xpLWNvbW8t/Y3JpYXItYXJ0ZWZh/dG9zLWRvLWFuZ3Vs/YXJfMzgyNTAucG5n" alt="">
    </div>
    <div class="content-title">
        <h1>ARTIGO</h1>
        <hr>
        <a routerLink="/"><< Voltar</a>
    </div>
    <div class="content-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque suscipit voluptas a quasi earum. Praesentium architecto rerum voluptatum blanditiis asperiores consectetur quos non officia repellat libero! Adipisci ducimus quisquam quos.</p>
    </div>
 </div>
