
 <div class="container-content">
    <div class="content-cover">
        <img src={{photoCover}} alt="">
    </div>
    <div class="content-title">
        <h1>{{contentTitle}}</h1>
        <hr>
        
    </div>
    <div class="content-description">
        <button class="return" routerLink="/">Voltar</button>
        <p>{{contentDescription}}</p>
        <h3>1 – Simplificado com o Standalone Components</h3>
            <p>Essa é uma das principais mudanças que a comunidade esperava, pois uma das maiores insatisfações da comunidade Front-end era a questão da obrigatoriedade da criação dos @NgModules.
            
            No Angular V14, os Standalone Components podem criar uma aplicação inteira sem o @NgModule. Eles estão prontos para serem usados ​​em seus aplicativos para exploração e desenvolvimento.
            
            Assim podendo criar diretivas, pipes, components, totalmente independentes.
            
            Mas, aí você se pergunta, vou perder toda arquitetura que tínhamos antes? E a resposta é não, ainda podemos utilizar da mesma forma que antes.
            
            O legal de tudo isso é que agora temos o Standalone Components e ainda o @NgModule, irado né?</p>
    
        <h3>2 – Reactive Forms Tipados </h3>
        <p>Uma das ferramentas mais robustas no meu ponto de vista para criação de formulários são os Reactive Forms que é um dos grandes diferenciais do Angular.

            Agora ela tem tipos, isso mesmo:
            
            – Emma Twersky: O Angular v14 encerra o principal problema do GitHub do Angular: implementar a tipagem estrita para o pacote Angular Reactive Forms.
            
            Agora o Reactive Forms garante que os valores tipados, grupos e matrizes sejam seguros em toda sua API. Isso permite formulários mais seguros, especialmente para casos complexos.
            
            Quer saber mais sobre essa feature? Separei uma postagem super completa do Netanel Basal.</p>
        </div>
 </div>
