.articles {
    /* background-color: rgba(240, 248, 255, 0.692); */
    margin: 3em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    min-height: 600px;
    flex-wrap: wrap;
    justify-content: center;
}