<div class="contact-card">
    <img src="../../../assets/profile.jpg" alt="">
    <h3>Desenvolvedora Front-end </h3>
    <p><span>Email: </span> anacarolini633&#64;gmail.com</p>
    <p><span>Telefone: </span> 16 98866-7495</p>
    <p><span>Localização: </span> São Paulo, Brasil</p>
    <a href="https://www.linkedin.com/in/anacbrandao/"><img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" >Linkedin</a>
    <a href="https://github.com/AnaCBrandao"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" >GitHub</a>
</div>
