.contact-card{
    color: rgb(53, 53, 53);
    background-color: rgba(100, 179, 216, 0.664);
    border-radius: 1.5em;
 
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
}

.contact-card > img {
    border-radius: 50%;
    width: 250px;
    margin-bottom: 1em;
}

.contact-card > p {
    margin-top: 0.5em;
    font-weight: 500;
}

h3 {
    
}